main {
    padding: 10px;
    display: flex;
    width: 96%;
    flex-direction: column;
    gap: 10px;
}

.two-colunm-descount {
    display: flex;
    gap: 10px;
}

.tittle-descount {
    border-radius: 10px;
    background-color: rgb(231, 234, 237);
    padding: 20px;
    height: auto;
    justify-content: center;
    text-align: center;
    color: #9165cc;
}

.descount-TimeCSV{
    border-radius: 10px;
    background-color: rgb(231, 234, 237);
    padding: 20px;
    width: auto;
    height: auto;
    justify-content: center;
}

.descount-category,
.descount-CSV {
    border-radius: 10px;
    background-color: rgb(231, 234, 237);
    padding: 20px;
    width: 96%;
    height: auto;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="number"],
input[type="datetime-local"],
select {
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

input[type="file"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

input[type="file"]::file-selector-button {
    padding: 8px 12px;
    background-color: #9165cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #9165cc;
}

button[type="submit"] {
    background-color: #9165cc;
    color: #fff;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #9165cc;
}
